// Color variables
$black: #181818;
$red: #F6511D;
$red-small: #DC3918;
$blue: #122354;
$blue-small: #3E5D32;
$gray: #4281A4;
$white: #FFFBFC;

// Config
$color-background: $blue !default;
$color-dot-accent: $blue !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $blue !default;
$color-text-accent: $gray !default;
$color-code: $blue-small !default;
$color-nav-link: $gray !default;
$color-primary-link: $gray !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
